.seccionIconos{
    display:flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 50px;
    

    .seccionIconos__card{
        width: 320px;
        height: 280px;
        align-self: center;
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.062);
        border-radius: 10px;
        
        display: flex;
        flex-direction: column;
        
        .seccionIconos__card__img{
            height: 230px;
            width: 230px;
            align-self: center;
            
        }

        .seccionIconos__card__p{
            font-size: 40px;
        }
        @media (min-width:620px){
            background-color: rgba(0, 0, 0, 0);
        }
    }
    @media (min-width:620px){
        flex-direction: row;
        justify-content: space-evenly;
        

    }   
}