/* foto principal y texto encima en el index */

.portada_imagen{
    width: 100vw;
    background-image: url(../assets/fondo-falafell.jpeg);
    background-position:center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: auto;

    .portada{
        margin: 0 auto;
        color: white;
        text-align: center;  
        display: flex;
        flex-direction: column;
        font-family: 'Contrail One', cursive;

        
        #portada__textGovinda{
            padding-top: 20px; 
            font-size: 90px; 
            transform: rotate(-3deg);
            width: 80vw;
            text-align: center;
            align-self: center;

            @media (min-width:620px){
                font-size: 180px;
            }
        }

        #portada__textVeggie{
            font-size: 13px;  /*20*/
            padding-bottom: 20px;  
            
            @media (min-width:620px){
                font-size: 20px;
            }
        }

        #portada__textComidaCasera{
            font-size: 80px; /*114*/
            @media (min-width:620px){
                font-size: 114px;
            }
        }

        #portada__textCongelado{
            font-size: 32px; /*48*/
            padding-bottom: 60px;

            @media (min-width:620px){
                font-size: 48px;
            }
        }

        .contenedorButton{
            
            padding-bottom: 50px;    
        }

        #portada__button{
            color:rgb(255, 255, 255);
            font-size: 24px; /*36*/
            text-decoration: none;
            padding-top: 10px;
            padding-right: 20px;
            padding-left: 20px;
            position: relative;
        
            &:hover{
                transition: 0.5s;
                color:$naranja;
            }
            @media (min-width:620px){
                font-size: 36px;
            }
        }


    }
    @media (min-width:620px){
        background-size: 100vw;
    }
}
