.fondo{
    @include mixFondo($fotoEmpapelado,none);
    
    
}

.fondoContacto{
    @include mixFondo(none,$naranja);
}    



html {
    scroll-behavior: smooth;
}

.lineaSeparador{
    border:0;
    height: 5px;
    background-color: rgba(179, 179, 179,0.3);
    width:100vw;
}

.footerLink{
    text-decoration: none;
    color: inherit;

    &:hover{
        color:black;
        
    }
}