.fondo{
    @include mixFondo($fotoEmpapelado,none);
}

.fondoContacto{
    @include mixFondo(none,$naranja);
}    

.tituloSeccion{
    width: 100vw;
    background-color: $naranja;

}

.tituloTextoSeccion{
    font-family: 'Contrail One', cursive;
    -webkit-text-stroke: 1px rgb(141, 141, 141);
    color: transparent;
    font-size: 60px;
}

html {
    scroll-behavior: smooth;
}