
.principal{
    width: 100vw;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.principal__arriba{
    width: 100vw;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.principal__texto{
    color: rgb(141, 141, 141);
    font-size: 62px;
}

.principal__abajo{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 46px;
    
    
}

.principal__abajo__links{
    text-decoration: none;
    color:rgb(141, 141, 141);
    &:hover{
        color: $naranja;
        transition: 0.7s;
    }
}

.contenedorTitulo{
    width: 60vw;
    margin: 0px auto; 
    justify-content: center;
    padding-top: 100px;
}

.tituloTartas{
    width: 60vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 20px;
    border-color: rgb(199, 197, 197);
    border-radius: 8px;
    border-style: ridge;
    border-width: 2px;
}

.tituloTartas__texto{
    color: rgb(141, 141, 141);
    font-size: 90px;
}

#circuloTartas{
    height: 150px;
    width: 150px;
    background-image: url(../assets/tarta.jpg);
    background-size: 300px; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 270px;
}

#circuloBurgers{
    height: 150px;
    width: 150px;
    background-image: url(../assets/burger.jpeg);
    background-size: 200px; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 270px;
}

.contenedorItems{
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}

.contenedorItems__col1{
    width: 100%;
}

.contenedorItems__col2{
    width: 100%;
}

.productoItem{
    width: 60vw;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0px auto;
}

.productoItem__titulo{
    font-size: 42px;
    color: rgb(194, 110, 0);
}

.productoItem__descripcion{
    font-size: 28px;
    color: rgb(94, 51, 2);
}

@media (min-width:$ancho-mobile){
    
    .principal__texto{
        color: rgb(141, 141, 141);
        font-size: 84px;
    }
    .tituloTartas{
        flex-direction: row;
        justify-content:space-evenly;
        padding-bottom: 20px;
    }
    .tituloTartas__texto{
        font-size: 120px;
        
    }
    .contenedorItems{
        width:100vw;
        flex-direction: row;
    }
    .contenedorItems__col1{
        width: 50%;
    }
    .contenedorItems__col2{
        width: 50%;
    }
    .productoItem{
        width: 40vw;

    }   

}
