
/*nosotros bis*/


.nosotros{
    width: 100vw;
    display: grid;
    grid-template-areas:
    "ar1"
    "ar2"
    "ar3"
    "ar4";
}

.nos1{
    grid-area: "ar1";
}
.nos2{
    grid-area: "ar2";
}
.nos3{
    grid-area: "ar3";
}
.nos4{
    grid-area: "ar4";
}


.nosotros__texto{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.nosotros__texto__p{
    font-size: 30px;
    background-color: rgba(143, 143, 143, 0.123);   
}

.nosotros__img{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nosotros__img__circulo{
    height: 320px;
    width: 320px;
    border-radius: 270px;
    opacity: 80%;
}

    /*nosotros media*/




@media (min-width:620px){
    .nosotros{
        width: 100vw;
        display: grid;
        grid-template-areas:
        "ar1"
        "ar2"
        "ar3"
        "ar4";
    }

    .nos1{
        grid-area: "ar1";
    }
    .nos2{
        grid-area: "ar2";
    }
    .nos3{
        grid-area: "ar3";
    }
    .nos4{
        grid-area: "ar4";
    }


    .nosotros__texto{
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .nosotros__texto__p{
        font-size: 30px;
        background-color: rgba(143, 143, 143, 0.123);   
    }

    .nosotros__img{
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nosotros__img__circulo{
        height: 320px;
        width: 320px;
        border-radius: 270px;
        opacity: 80%;
    }


    .nosotros{   
        width: 90vw;
        margin: 0 auto;
        grid-template-columns: 3fr;
        

    }

    .nos1{
        
        grid-column-start: 1;
        grid-column-end: 3;
        text-align:end;
    }

    .nos2{
        grid-column-start: 3;
        grid-column-end: 4;
        
    }

    .nos4{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        
    }

    .nos3{
        grid-column-start: 2;
        grid-column-end: 4;
        
        
    }


    .nosotros__texto{
        height: 320px;
    }

    .nosotros__texto__p{
        font-size: 30px;
        background-color:rgba(143, 143, 143, 0.123);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 166, 0, 0.11));
        
    }
    /*transi*/

    

    .nosotros__img{
        height: 320px;
        align-content: center;
        justify-items: center;
        animation-duration: 3s;
        animation-name: respira;
    }

    @keyframes respira {
        50%{transform: scale(1);}
        80%{transform: scale(1.1);} ;
    }

    .nosotros__img__circulo{
        height: 320px;
        width: 320px; 
        background-position: left;
        border-radius: 270px;
        opacity: 80%;
    }
}